$dark-green:#255B47;
$light-green:#B3F3E3;
$dark-blue: #32637A;
$light-blue: #8AD0E0;
$dark-grey: #292C3D;
$light-grey:#979CB2;
$cream: #EDECE1;
$peach: #FFEBDD;
$brown: #68403C;
$warning: #ad3145;

a {
    text-decoration: none;
}

.main {
    display: flex;
    &.centered {
        justify-content: center;
        #header {
            width: 100%;
            // margin: 0;
            margin: 0 6px;
            position: fixed;
            top: 2px;
            // left: 2px;
        }
        .info {
            width: 60%;
        }
        #quick {
            margin: auto;
        }
    }
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    &.light {
        color: $dark-grey;
        background-color: $cream;
        .bug {
            background-color: $light-green;
        }
        .fish {
            background-color: $light-blue;
        }
        .MuiCardHeader-root, .MuiCardContent-root {
            color: $dark-grey;
        }
        .MuiAvatar-circle.on {
            background-color: $brown;
        }
    }
    &.dark {
        background-color: #292C3D;
        color: $cream;
        .bug {
            background-color: $dark-green;
        }
        .fish {
            background-color: $dark-blue;
        }
        .MuiCardHeader-root, .MuiCardContent-root {
            color: $cream;
        }
        .MuiAvatar-circle.on {
            background-color:$brown;
        }
        .MuiCheckbox-root {
            color: $cream;
        }
    }
    .little {
        display: flex;
        // flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-self: stretch;
        width: 90%;
        margin: 8px auto;
        h1 {
            font-size: 1.2em;
            margin: 0.2em;
        }
        h2 {
            font-size: 1em;
            margin: 0.2em;
        }
    }

    .MuiCardContent-root:last-child {
        padding-bottom: 8px;
    }
    .MuiAvatar-root {
        width: 30px;
        height: 30px;
        &.warning {
            background-color: $warning;
        }
    }
    #collections {
        display: flex;
        justify-content: space-between;
        margin-top: 4px;
        >div:not(#divider) {
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        .MuiAvatar-root {
            width: 25px;
            height: 25px;

        }
        .MuiIconButton-root {
            padding: 2px 1px 2px 5px;
        }
    }
    #extraInfo {
        display: flex;
        justify-content: space-between;
        p {
            margin: 0.5em 0;
        }
    }

}

#header {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5%;
    h1 {
        margin: 0.2em 0;
    }
    #signout, #signin {
        margin-left: 4px;
    }
    .button-icons {
        background-color: $light-grey;
        height: 40px;
        width: 40px;
        margin: 0 4px;
    }
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: $cream;
    .MuiFormLabel-root.Mui-error, .MuiInput-underline.Mui-error:after {
        color: $warning;
    }
    .MuiInput-underline.Mui-error:after {
        border-bottom-color: $warning;
    }
}

#login-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    .inputs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    .user-fields {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 3px;
        border-radius: 10px;
        box-shadow: 2px 2px 8px $light-grey;
    }
    .user-fields:nth-child(1){
        background-color: $light-green;
    }
    .user-fields:nth-child(3){
        background-color: $light-blue;
    }
    #divider {
        width: 1px;
        background-color: $light-grey
    }
}

#quick {
    display: flex;
    justify-content: space-between;
    width: 80%;

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    h3 {
        margin: 0.34em 0;
    }
}

.available {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main .available .MuiCardHeader-root {
    flex-direction: row-reverse;
    margin-right: 0;
}

.main .available .MuiCardHeader-avatar {
    margin-right: 0;
}

.error {
    color: $warning;
    font-size: 0.8em;
    margin: 0;
}

@media (min-width: 706px) {
    #login-container {
        width: 90%;
        >.user-fields {
            width: 36%;
            padding: 1.5%;
        }
    }
}

@media (max-width: 705px) {
    .main {
        &.centered {
            #header {
                width: unset;
                position: fixed;
                top: unset;
                bottom: 2px;
            }
        }
    }

    #header {
        width: unset !important;
        position: fixed;
        top: unset;
        bottom: 2px;
        right: 2px;
        z-index: 1;
        h1 {
            display: none;
        }
    }

    #login-container {
        flex-direction: column;
        .user-fields {
            margin: 1% 0;
            padding: 3%;
        }
    }



    .info {
        width: 80%;
        margin: auto;
    }
    .little {
        flex-direction: column;
        margin: 0 10px;
    }

    .intro {
        // width: 90%;
        margin: 0 auto;
    }

    #quick {
        width: 95%;
        align-items: center;
        flex-wrap: wrap;
        button {
            margin: 2px 0;
        }
    }

    .reduce {
        display: none;
    }
}

.hidden {
    display: none !important;
}
